body {
    background: white no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.centered {
    padding: 5% 0;
}

.astumos {
    color: #FF9602;
    text-align: center;
    padding: 10% 0;
    font-family: 'Yellowtail', cursive;
}
