body {
    background: white no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.centered {
    display: table;
}

.astumos {
    color: #FF9602;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Yellowtail', cursive;
}
