body {
    background: white no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px;
}

.centered {
    height: 100vh;
}

.astumos {
    text-align: center;
    padding: 10% 0;
}

.astumos img {
    height: 50%;
    width: 50%;
}

.second {
    padding: 5% 0;
    height: 100vh;
}

.links a {
    text-decoration: none;
    color: white;
    padding: 40px;
}

.links a:hover {
    color: #D3D3D3;
}

.links {
    background: #FF9602;
    color: white;
    text-align: center;
    font-size: 125px;
    padding: 10% 0;
    font-family: 'Yellowtail', cursive;
}
